.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.centerButton {
  margin-top: 10%;
  margin-bottom: 10%;
}

.shareLinkContent {
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.fileForm {
  display: inline;
}