
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
	margin: 0px;
	background: #ffffff;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

#headContainer {
    width: 90%;
    margin: 0 auto;
}

header {
    background: #b3b3b3;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 10;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

#logo {
    width: 18%;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-top: 65px;
    display: inline-block;
    margin-left: 90px;
    position: relative;
    padding-bottom: 10px;

}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: #000000;
}

nav a::before {
    content: '';
    display: block;
    height: 3px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

#banner {
    top: 50px;
    position: fixed;
    background: #fdfdfd;
    height: 450px;
    width: 100%;
}

#bannerImg {
    width: 100%;
}

#content {
    width:90%;
    position: relative;
    margin: 590px auto;
    margin-bottom: 0px;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 67px;
    padding-right: 68px;
    background: #ffffff
}

footer {
	width:100%;
    background-color:#b3b3b3;
    position: relative;
    padding:40px 0px;
    left:0px;
    bottom:0px;
}

.stopka{
	font-family:"Work Sans", sans-serif;
	font-size:20px;
	color:#000000;
	text-align:center;
}

form ul {
	list-style: none;
}

form label {
    padding-top: 100px;
    padding-bottom: 20px;
}

meter {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 20%;
	height: 10px;
}

meter::-webkit-meter-bar {
	background: none;
	background-color: rgba(0, 0, 0, 0.1);
}

meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: orange; }
meter[value="3"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }


meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: orange; }
meter[value="3"]::-moz-meter-bar { background: yellow; }
meter[value="4"]::-moz-meter-bar { background: green; }


input[type=text], input[type=password], select, textarea {
    width: 50%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}


input[type=submit] {
    background-color: rgb(84, 8, 107);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 155px;
}


input[type=submit]:hover {
    background-color: #8e23a3;
}


#regFormContainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-left: 450px;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 60px;
}

#loginFormContainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-left: 450px;
    margin-top: 100px;
    padding-top: 150px;
    padding-bottom: 100px;
}







