body {
	background-color:#603413;
	font-family:Garamond;
	font-size:20px;
	color:#e8d4a4;
	margin:0px;
}

.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

.centerLink {
	text-align: center;        
	margin: 0;
	padding: 0;
}

h1 {
	font-style:italic;
}

p {

}

a {
	text-align:center;
	text-decoration:none;
}

a:link {
	color:#d38a5d;
}

a:visited {
	color:#ce996b;
}

a:hover {
	color:#e8d4a4;
}

.header {
	background-color:#e8d4a4;
	width:100%;
	height:100px;
	position:fixed;
	margin:0px auto;
	top:0px;
}

.content {
	width:90%;
	margin:150px auto;
}

nav ul {
	list-style: none;
}

nav li {
	display:inline-block;
	margin-left:220px;
	padding-top:20px;
}

#homeNav {
	margin-left: 45%;
}

nav a:link, nav a:visited {
	color:#603413;
}
 
nav a:hover {
	color:#000000;
}

footer {
	width:100%;
	background-color:#e8d4a4;
	padding:40px 0px;
}

.stopka{
	font-family:Garamond;
	font-size:20px;
	color:#603413;
	text-align:center;
}

#loginForm {
	margin-left: 30px;
	margin-top: 150px;
	margin-bottom: 60px;
}

form ul {
	list-style: none;
}

input {
	background-color: #e8d4a4;
	color: #000000
}

meter {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 20%;
	height: 10px;
}

meter::-webkit-meter-bar {
	background: none;
	background-color: rgba(0, 0, 0, 0.1);
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: orange; }
meter[value="3"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: orange; }
meter[value="3"]::-moz-meter-bar { background: yellow; }
meter[value="4"]::-moz-meter-bar { background: green; }










