<!DOCTYPE html>

<html lang="pl-PL">

<head>
	<meta charset="UTF-8">
	<title>FileHolder</title>
	<!--
	<link rel="stylesheet" href="http://pi.iem.pw.edu.pl/~sawickij/static/style.css" type="text/css" />
	-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
	<div class="jumbotron jumbotron-fluid bg-info p-5">
		<div class="container">
			<header>
				<div class="row">
					<nav class="navbar text-center">

						<a href="index.html" class="navbar-brand col-12 col-md-12 col-lg-2"><img src="/assets/logoFH.png" class="img-fluid"
							 alt="logo" /></a>
						<ul class="nav ml-auto">
							<li class="nav-item col-12 col-md-3">
								<a class="nav-link text-dark h3 text-center" href="#about">O projekcie</a>
							</li>
							<li class="nav-item col-12 col-md-3">
								<a class="nav-link text-dark h3 text-center" href="login">Zaloguj się</a>
							</li>
							<li class="nav-item col-12 col-md-4">
								<a class="nav-link text-dark h3 text-center" href="register">Zarejestruj się</a>
							</li>
						</ul>

					</nav>
				</div>
			</header>
		</div>
	</div>
	<div class="container-fluid">
		<img src="/assets/files.jpg" alt="banner" id="bannerImg" />
	</div>
	<div class="container">
		<h1><a id="about"></a>O projekcie</h1>
		<p>
			FileHolder jest serwisem umożliwiającym łatwe przechowywanie plików. Projekt powstał
			w ramach zajęć z przedmiotu Programowanie aplikacji mobilnych i webowych.
		</p>
		<footer>
			<p class="stopka">Janusz Sawicki, 19.10.2018</p>
		</footer>
	</div>

</body>

</html>