<!DOCTYPE html>

<html lang="pl-PL">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="http://pi.iem.pw.edu.pl/~sawickij/static/style.css" type="text/css"/>
<title>FileHolder</title>
</head>
	<body>
			<header>
					<div id="headContainer">
						<a href="index.html"><img src="http://pi.iem.pw.edu.pl/~sawickij/assets/logoFH.png" alt="logo" id="logo"/></a>
						<nav>
							<ul>
								<li><a href="login">Zaloguj się</a></li>
								<li><a href="register">Zarejestruj się</a></li>
							</ul>
						</nav>
					</div>
				</header>
				<div id="regFormContainer">
						<form method="POST"  action="/sawickij/z3/signUp">
					
							<label for="login">Nazwa użytkownika</label><br />
							<input type="text" id="login" name="Login" placeholder="Nazwa użytkownika..."><br />
					
							<label for="email">Adres email</label><br />
							<input type="text" id="email" name="email" placeholder="Adres email..."><br />

							<label for="password">Hasło</label><br />
							<input type="password" id="password" name="password" placeholder="Hasło..."><br />

							<label for="confirm_password">Powtórz hasło</label><br />
							<input type="password" id="confirm_password" name="confirm_password" placeholder="Powtórz hasło..."><br />
					
							<input type="submit" value="Zarejestruj się">
					
						</form>
				</div>
      <footer>
				<p class="stopka">Janusz Sawicki, 06.10.2018</p>
      </footer>
      <script type="text/javascript" src="http://pi.iem.pw.edu.pl/~sawickij/static/app.js"></script>
    </body>
</html>
