<!DOCTYPE html>

<html lang="pl-PL">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="http://pi.iem.pw.edu.pl/~sawickij/static/style.css" type="text/css"/>
<title>FileHolder</title>
</head>
	<body>
			<header>
					<div id="headContainer">
						<a href="userHome"><img src="http://pi.iem.pw.edu.pl/~sawickij/assets/logoFH.png" alt="logo" id="logo"/></a>
						<nav>
							<ul>
								<li><a href="userHome">Strona domowa</a></li>
							</ul>
						</nav>
					</div>
				</header>
				<div id="shareLinkContent">
          <h1>Link udostępniający:</h1>
          <h2>{{share_link}}</h2>
				</div>
      <footer>
				<p class="stopka">Janusz Sawicki, 06.10.2018</p>
      </footer>
      <script type="text/javascript" src="http://pi.iem.pw.edu.pl/~sawickij/static/app.js"></script>
    </body>
</html>