<!DOCTYPE html>

<html lang="pl-PL">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="http://pi.iem.pw.edu.pl/~sawickij/static/style.css" type="text/css"/>
<title>FileHolder</title>
</head>
	<body>
			<header>
					<div id="headContainer">
						<a href="index.html"><img src="http://pi.iem.pw.edu.pl/~sawickij/assets/logoFH.png" alt="logo" id="logo"/></a>
						<nav>
							<ul>
								<li><a href="login">Zaloguj się</a></li>
								<li><a href="register">Zarejestruj się</a></li>
							</ul>
						</nav>
					</div>
				</header>
				<div id="accountCreated">
          <h2>Konto zostało utworzone</h2>
          <a href="login"><button type="button" id="createUserLoginButton">Zaloguj</button></a>
				</div>
      <footer>
				<p class="stopka">Janusz Sawicki, 06.10.2018</p>
      </footer>
      <script type="text/javascript" src="http://pi.iem.pw.edu.pl/~sawickij/static/app.js"></script>
    </body>
</html>
