<!DOCTYPE html>

<html lang="pl-PL">

<head>
	<meta charset="UTF-8">
	<title>FileHolder</title>
	<link rel="stylesheet" href="https://pi.iem.pw.edu.pl/~sawickij/static/main.css" type="text/css" />
</head>

<body class="site">

	<div class="jumbotron jumbotron-fluid bg-info p-5 m-0">
		<div class="container">
			<header>
				<div class="row">
					<nav class="navbar text-center">
						<a href="index.html" class="navbar-brand col-12 col-md-12 col-lg-4"><img src="https://pi.iem.pw.edu.pl/~sawickij/assets/logoFH.png"
							 class="img-fluid" alt="logo" /></a>
						<ul class="nav ml-auto">
							<li class="nav-item col-12 col-md-8">
								<a class="nav-link text-dark h3 text-center" href="/sawickij/z3/logout">Wyloguj</a>
							</li>
						</ul>
					</nav>
				</div>
			</header>
		</div>
	</div>


	<div class="container site-content text-center">
		<h1>Zalogowany jako: {{user}}</h1>
		<h2>Moje pliki</h2>

		{% for path, filename in paths_filenames %}
		<div>
			<form class="fileForm" method="POST" action="{{path}}" enctype="multipart/form-data">
				<input type="submit" class="btn btn-outline-primary" value="{{filename}}">
				<input type="hidden" name="token" value="{{token}}">
			</form>

			<form class="fileForm" method="POST" action="/sawickij/z3/shareToken">
				<input class="btn btn-outline-primary" type="submit" value="Udostępnij">
				<input type="hidden" name="filename" value="{{filename}}">
			</form>
		</div>

		{% endfor %}

		<form class="mt-5" method="POST" action="/sawickij/dl/upload" enctype="multipart/form-data">
			<input type="file" id="fileButton" name="uploadedFile" value="Dodaj plik">
			<input type="hidden" name="token" value="{{token}}">
			<input type="submit" class="btn btn-outline-primary" id="addFileButton" value="Dodaj plik">
		</form>

	</div>



	<footer class="page-footer bg-info text-center p-5">
		<p class="h5">Janusz Sawicki, 19.10.2018</p>
	</footer>
	</div>
</body>

</html>