<!DOCTYPE html>

<html lang="pl-PL">
<head>
<meta charset="UTF-8">
<title>Rowery</title>
<link rel="stylesheet" href="../static/style.css" type="text/css"/>
</head>
<body>
<div id="container">
	<header>
		<div id="headContainer">
			<a href="index.html"><img src="../assets/logoRowery.png" alt="logo" id="logo"/></a>
			<nav>
				<ul>
					<li><a href="stores">Nasze sklepy</a></li>
					<li><a href="login">Zaloguj się</a></li>
					<li><a href="register">Zarejestruj się</a></li>
				</ul>
			</nav>
		</div>
  </header>
	<div id="banner">
			<img src="" alt="banner" id="bannerImg"/>
	</div>
	<div id="content">
    <div id="1Row">
			<a href=""><img src="" alt="rowery" id="rowery" class="catImage"/></a>
			<a href=""><img src="" alt="ramy" id="ramy" class="catImage"/></a>
    </div>

    <div id="2Row">
			<a href=""><img src="" alt="kierownice" id="kierownice" class="catImage"/></a>
			<a href=""><img src="" alt="siodelka" id="siodelka" class="catImage"/></a>
    </div>

    <div id="3Row">
      <a href=""><img src="" alt="kola" id="kola" class="catImage"/></a>
			<a href=""><img src="" alt="opony" id="opony" class="catImage"/></a>
    </div>
	</div>
<footer>
	<p class="stopka">jakiś footer</p>
</footer>
</div>

</body>
</html>