<!DOCTYPE html>

<html lang="pl-PL">
<head>
<meta charset="UTF-8">
<title>Rowery</title>
<link rel="stylesheet" href="../static/style.css" type="text/css"/>
</head>
<body>
<div id="container">
	<header>
		<div id="headContainer">
			<a href="index.html"><img src="../assets/logoRowery.png" alt="logo" id="logo"/></a>
			<nav>
				<ul>
					<li><a href="stores">Nasze sklepy</a></li>
					<li><a href="login">Zaloguj się</a></li>
					<li><a href="register.html">Zarejestruj się</a></li>
				</ul>
			</nav>
		</div>
  </header>
	<div id="banner">
			<img src="" alt="banner" id="bannerImg"/>
	</div>
	<div id="content">
    <div class="categoryRow">
			<div class="catLeftContainer">
				<a href=""><img src="../assets/kategoria.jpg" alt="rowery" id="rowery" class="catImageleft"/></a>
				<div class="middle">
					<div class="text">ROWERY</div>
				</div>
			</div>
			<div class="catRightContainer">
				<a href=""><img src="../assets/kategoria.jpg" alt="ramy" id="ramy" class="catImageright"/></a>
				<div class="middle">
					<div class="text">RAMY</div>
				</div>
			</div>
		</div>
		
    <div class="categoryRow">
			<div class="catLeftContainer">
				<a href=""><img src="../assets/kategoria.jpg" alt="kierownice" id="kierownice" class="catImageleft"/></a>
				<div class="middle">
					<div class="text">KIEROWNICE</div>
				</div>
			</div>
			<div class="catRightContainer">
				<a href=""><img src="../assets/kategoria.jpg" alt="siodelka" id="siodelka" class="catImageright"/></a>
				<div class="middle">
					<div class="text">SIODEŁKA</div>
				</div>
			</div>
    </div>

    <div class="categoryRow">
			<div class="catLeftContainer">
				<a href=""><img src="../assets/kategoria.jpg" alt="kola" id="kola" class="catImageleft"/></a>
				<div class="middle">
					<div class="text">KOŁA</div>
				</div>
			</div>
			<div class="catRightContainer">
				<a href=""><img src="../assets/kategoria.jpg" alt="opony" id="opony" class="catImageright"/></a>
				<div class="middle">
					<div class="text">OPONY</div>
				</div>
			</div>
		</div>
	</div>
<footer>
	<p class="stopka">jakiś footer</p>
</footer>
</div>

</body>
</html>